* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #C3BABA;
    font-family: 'lato', sans-serif;
    font-size: 18;
    line-height: 2;
    color: #333;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px
}

/* Navbar */
.navbar {
    background: #9a8f97;
}

.navbar .container {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;

}

.navbar a:hover {
    color: white;
}

/* Whenever I decide to add in logo 
.navbar .logo {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-weight: 900;
    font-style: italic;
}

*/

/* Hero & Overview */

.header-text {
    display: flex;
    flex-direction: column;
}

.bussin-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bussin-title h1 {
    font-weight: bold;
    font-size: 75px;
    font-style: italic;
}

.overview .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Button placement and style */
.header-text .btn {
    border: none;
    border-radius: 8px;
    background: #a73f2d;
    color: white;
    padding: 8px 24px;
}
.header-text .btn {
	background-color:#b34332;
}
.header-text .btn {
	position:relative;
	top:1px;
}